.navbar{
	width: 102vw;
}

.navbar-brand > img {
    margin-left: 15px;
}

hr{
	margin-top: 10px;
    width: 55%;
}

.header{
	height: 1000px;
	width: 105vw;
}

.header-color{
	height: 1000px;
}

.header-color > .container > h1{
	margin-top: 40vh;
}

.header-color > .container > p{
	width: 86%;
	text-align: center;
	margin-bottom: 20px;
}

.header-color > .container > .botao{
	left: -25px;
}

.servicos {
    margin-top: 850px;
}

.servicos > .container > h1{
	height: 100px
}

.sobre > .container{
	margin: 0 15px;
}

.sobre > .container > h1{
	margin-top: 50px;
	width: 250px;
}

.sobre > .container > p {
    text-align: center;
}

.sobre > .container > .botao{
	margin-top: -20px;
}

.clientes > .container > ul {
    margin-left: 10%;
}

.zoom > .container > .col-md-4 > .ih-item.circle {
    margin: auto 30% 30px 30%;;
}

.zoom > .container > .col-md-4 > p{
	padding: 0 15%;
}

.news > .container > form > .newsletter {
    width: 310px;
}